<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chattinfgs </title>
    <%- include("./partials/style.ejs") %>
</head>

<body>
    <%- include("./partials/navbar.ejs") %>

        <div class="chat-box">

            <p class="outgoing messages-box ">incoming </p>
            <p class="incoming messages-box "> outgoing </p>
            <p class="outgoing messages-box ">incoming </p>
            <p class="incoming messages-box "> outgoing </p>
            <p class="outgoing messages-box ">incoming </p>
            <p class="incoming messages-box "> outgoing </p>
            <p class="outgoing messages-box ">incoming </p>
            <p class="incoming messages-box "> outgoing </p>
            <p class="outgoing messages-box ">incoming </p>
            <p class="incoming messages-box "> outgoing </p>
            <p class="outgoing messages-box ">incoming </p>
            <p class="incoming messages-box "> outgoing </p>
            <form class="message-form" action="">
                <textarea class="chat-input" name="message" id="message" placeholder="enter Your message "></textarea>
                <button class="sendbtn">
                    <img class="sendbtn" src="/icons8-sent-64.png" alt="">
                </button>
            </form>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();

            const sendbtn = document.querySelector(".sendbtn")
            const chatbox = document.querySelector(".chat-box")
            const chatinput = document.querySelector(".chat-input")
            const userProfile = document.querySelector(".logo")
            const user_id = userProfile.getAttribute("data-user")
            console.log("userProfile", userProfile.innerHTML)
            console.log(`This is user ${userProfile.textContent} and it is his ID ${user_id}`)

            sendbtn.addEventListener("click", (e) => {
                e.preventDefault()
                chatInput = chatinput.value;
                socket.emit("userDetails", chatInput, user_id);
                console.log(`This is user-id ${user_id}`)

            })
            socket.on("message", (msg)=>{
                console.log("msg has arived here -- >", msg )
                console.log(user_id ===msg.createdFor,'userid ===msg.createdFor')
                console.log(user_id ===msg.createdBy, "userid ===msg.createdby")

                if(msg.createdBy!==user_id){
                    const  newdiv = document.createElement("p")
                    newdiv.textContent = msg.body;
                    newdiv.classList.add("incoming");
                    chatbox.appendChild(newdiv)

                }else{
                    const  newdiv = document.createElement("p")
                    newdiv.textContent = msg.body;
                    newdiv.classList.add("outgoing");
                    chatbox.appendChild(newdiv)
                }
            })
         


        </script>


</body>

</html>